<!DOCTYPE html>
<html>
  <head>
    <title>Memo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column vh-100">
    <header class="bg-dark">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <a class="navbar-brand" href="/"><%= image_tag('memo_logo.png') %></a>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <!--ユーザーがサインインしていない場合-->
            <%unless user_signed_in? %>
              <ul class="navbar-nav ml-auto">
                <li class="nav-item mr-2">
                  <%= link_to new_user_session_path, class: "nav-link text-light border" do %>
                    <i class="fas fa-sign-in-alt"></i>ログイン
                  <%end%>
                </li>
                <li class="nav-item">
                  <%= link_to new_user_registration_path, class: "nav-link text-light border" do %>
                    <i class="fas fa-user-plus"></i>新規登録
                  <%end%>
                </li>
              </ul>
            <!--ここまでユーザーがサインインしていない場合-->
            <!--ここからユーザーがサインインしている場合-->
            <%else%>
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <%= link_to "投稿", new_user_session_path, class: "nav-link text-light border-right border-secondary"%><!--後程パスを記述-->
                </li>
                <li class="nav-item">
                  <%= link_to "投稿一覧", new_user_registration_path, class: "nav-link text-light"%><!--後程パスを記述-->
                </li>
              </ul>
              <ul class="navbar-nav"><!--後程link_toに書き換え-->
                <li class="nav-item">
                  <a class="nav-link text-light border-right border-secondary" href="#">マイページ</a>
                </li>
                <li>
                  <a class="nav-link text-light border-right border-secondary" href="#">投稿リスト</a>
                </li>
                <li>
                  <a class="nav-link text-light" href="#">ログアウト</a>
                </li>
              </ul>
            <%end%>
          </div>
        </div>
      </nav>
    </header>
    <main class="bg-light bg-gradient">
    <%= yield %>
    </main>
  </body>
</html>
